#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [16]:
users_table = pd.read_csv("users_table.csv")
print(users_table.head())

   Id  Reputation         CreationDate   DisplayName       LastAccessDate  \
0  -1           1  2010-07-19 06:55:26     Community  2010-07-19 06:55:26
1   2         101  2010-07-19 14:01:36  Geoff Dalgas  2013-11-12 22:07:23
2   3         101  2010-07-19 15:34:50  Jarrod Dixon  2014-08-08 06:42:58
3   4         101  2010-07-19 19:03:27        Emmett  2014-01-02 09:31:02
4   5        6792  2010-07-19 19:03:57         Shane  2014-08-13 00:23:47

                       WebsiteUrl            Location  \
0  http://meta.stackexchange.com/  on the server farm
1        http://stackoverflow.com       Corvallis, OR
2        http://stackoverflow.com        New York, NY
3    http://minesweeperonline.com   San Francisco, CA
4         http://www.statalgo.com        New York, NY

                                             AboutMe  Views  UpVotes  \
0  <p>Hi, I'm not really a person.</p>\r\n\r\n<p>...      0     5007
1  <p>Developer on the StackOverflow team.  Find ...     25        3
2  <p><a href="http://blog.stackoverflow.com/2009...     22       19
3  <p>currently at a startup in SF</p>\r\n\r\n<p>...     11        0
4  <p>Quantitative researcher focusing on statist...   1145      662

   DownVotes  AccountId   Age                     ProfileImageUrl
0       1920         -1   NaN                                 NaN
1          0          2  37.0                                 NaN
2          0          3  35.0                                 NaN
3          0       1998  28.0  http://i.stack.imgur.com/d1oHX.jpg
4          5      54503  35.0                                 NaN

#### 3. Rename Id column to userId

In [43]:
users_table = users_table.rename(columns={"Id": "userId"})
print(users_table)

       userId  Reputation  DownVotes  UpVotes  Views
0          -1           1       1920     5007      0
1           2         101          0        3     25
2           3         101          0       19     22
3           4         101          0        0     11
4           5        6792          5      662   1145
...       ...         ...        ...      ...    ...
40320   55743           1          0        0      0
40321   55744           6          0        0      1
40322   55745         101          0        0      0
40323   55746         106          0        0      1
40324   55747           1          0        0      0

[40325 rows x 5 columns]

#### 4. Import posts table:

In [4]:
posts_table = pd.read_csv("posts_table.csv")

#### 5. Rename Id column to postId and OwnerUserId to userId

In [18]:
posts_table = posts_table.rename(columns={"Id": "postId", "OwnerUserId": "userId"})
print(posts_table)
print(users_table.head())

        userId  Score  ViewCount  CommentCount  postId
0          8.0     23     1278.0             1       1
1         24.0     22     8198.0             1       2
2         18.0     54     3613.0             4       3
3         23.0     13     5224.0             2       4
4         23.0     81        NaN             3       5
...        ...    ...        ...           ...     ...
39995  19966.0      0        NaN             0   48321
39996    892.0      3        NaN             2   48322
39997   2020.0      1        NaN             0   48323
39998  19914.0      3        NaN             0   48324
39999  19968.0     -1      116.0             4   48325

[40000 rows x 5 columns]
   userId  Reputation         CreationDate   DisplayName       LastAccessDate  \
0      -1           1  2010-07-19 06:55:26     Community  2010-07-19 06:55:26
1       2         101  2010-07-19 14:01:36  Geoff Dalgas  2013-11-12 22:07:23
2       3         101  2010-07-19 15:34:50  Jarrod Dixon  2014-08-08 06:42:58
3       4         101  2010-07-19 19:03:27        Emmett  2014-01-02 09:31:02
4       5        6792  2010-07-19 19:03:57         Shane  2014-08-13 00:23:47

                       WebsiteUrl            Location  \
0  http://meta.stackexchange.com/  on the server farm
1        http://stackoverflow.com       Corvallis, OR
2        http://stackoverflow.com        New York, NY
3    http://minesweeperonline.com   San Francisco, CA
4         http://www.statalgo.com        New York, NY

                                             AboutMe  Views  UpVotes  \
0  <p>Hi, I'm not really a person.</p>\r\n\r\n<p>...      0     5007
1  <p>Developer on the StackOverflow team.  Find ...     25        3
2  <p><a href="http://blog.stackoverflow.com/2009...     22       19
3  <p>currently at a startup in SF</p>\r\n\r\n<p>...     11        0
4  <p>Quantitative researcher focusing on statist...   1145      662

   DownVotes  AccountId   Age                     ProfileImageUrl
0       1920         -1   NaN                                 NaN
1          0          2  37.0                                 NaN
2          0          3  35.0                                 NaN
3          0       1998  28.0  http://i.stack.imgur.com/d1oHX.jpg
4          5      54503  35.0                                 NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [25]:
users_table = pd.DataFrame(users_table, columns={"userId", "Reputation", "Views", "UpVotes", "DownVotes"})
print(users_table.head(2))
posts_table = pd.DataFrame(posts_table, columns={"postId", "Score", "userId", "ViewCount", "CommentCount"})
print(posts_table.head(2))

   userId  Reputation  DownVotes  UpVotes  Views
0      -1           1       1920     5007      0
1       2         101          0        3     25
   userId  Score  ViewCount  CommentCount  postId
0     8.0     23     1278.0             1       1
1    24.0     22     8198.0             1       2

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [26]:
merged_tables = pd.merge( users_table, posts_table, on=["userId", "userId"])
merged_tables

,userId,Reputation,DownVotes,UpVotes,Views,Score,ViewCount,CommentCount,postId
0,-1,1,1920,5007,0,0,NaN,0,2175
1,-1,1,1920,5007,0,0,NaN,0,8576
2,-1,1,1920,5007,0,0,NaN,0,8578
3,-1,1,1920,5007,0,0,NaN,0,8981
4,-1,1,1920,5007,0,0,NaN,0,8982
...,...,...,...,...,...,...,...,...,...
38957,45934,11,0,0,1,1,115.0,2,34003
38958,46192,36,0,0,1,5,326.0,2,40667
38959,46522,235,1,27,13,3,166.0,0,17461
38960,52371,221,0,0,2,24,3357.0,5,27237
38961,55226,119,0,3,2,1,NaN,0,16176

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [27]:
merged_tables_isnull = merged_tables.isnull().sum()
print(merged_tables_isnull)

userId              0
Reputation          0
DownVotes           0
UpVotes             0
Views               0
Score               0
ViewCount       23572
CommentCount        0
postId              0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [28]:
#we can see that in merged_tables_isnull we have more than 20 000 missing values in view count
#We have around 40000 rows so it is more than significant, we can just drop the view count 

merged_tables_isnull = merged_tables.isnull().sum() > 0
merged_tables = merged_tables.drop("ViewCount", axis=1)
merged_tables

,userId,Reputation,DownVotes,UpVotes,Views,Score,CommentCount,postId
0,-1,1,1920,5007,0,0,0,2175
1,-1,1,1920,5007,0,0,0,8576
2,-1,1,1920,5007,0,0,0,8578
3,-1,1,1920,5007,0,0,0,8981
4,-1,1,1920,5007,0,0,0,8982
...,...,...,...,...,...,...,...,...
38957,45934,11,0,0,1,1,2,34003
38958,46192,36,0,0,1,5,2,40667
38959,46522,235,1,27,13,3,0,17461
38960,52371,221,0,0,2,24,5,27237
38961,55226,119,0,3,2,1,0,16176

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [44]:
merged_tables.dtypes
#all the data types are Int64, i dont want to make any changes to datatypes

userId          int64
Reputation      int64
DownVotes       int64
UpVotes         int64
Views           int64
Score           int64
CommentCount    int64
postId          int64
dtype: object

In [ ]:
#