#### 1. Import pandas library

In [1]:
import pandas as pd

2. Import users table

In [41]:
users_df = pd.read_csv('datasets/users_table.csv')

#### 3. Rename Id column to userId

In [43]:
users_df.rename(columns={'id': 'userid'}, inplace=True)

#### 4. Import posts table:

In [44]:
posts_df = pd.read_csv('datasets/posts_table.csv')

 5. Rename Id column to postId and OwnerUserId to userId

In [52]:

posts_df.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'})

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,48321,2,NaN,2013-01-23 09:00:01,0,NaN,<p>you can use the matlab codes for svm and co...,19966.0,2013-01-23 09:00:01,NaN,...,NaN,0,NaN,NaN,NaN,NaN,45118.0,NaN,NaN,NaN
39996,48322,2,NaN,2013-01-23 09:09:34,3,NaN,"<p>I use <a href=""http://www.gnu.org/software/...",892.0,2013-01-23 13:13:30,NaN,...,NaN,2,NaN,892.0,2013-01-23 13:13:30,NaN,48311.0,NaN,NaN,NaN
39997,48323,2,NaN,2013-01-23 09:16:44,1,NaN,"<p>If I understand your question correctly, yo...",2020.0,2013-01-23 09:16:44,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48247.0,NaN,NaN,NaN
39998,48324,2,NaN,2013-01-23 09:36:07,3,NaN,"<p>Doesn't really help you with your question,...",19914.0,2013-01-23 09:36:07,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48297.0,NaN,NaN,NaN
39999,48325,1,NaN,2013-01-23 09:44:07,-1,116.0,"<p>I have 10 vectors each having 100,000 point...",19968.0,2013-02-22 11:23:54,are data sets obtained from a Normal distribut...,...,2.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [55]:
data_users = { 'userId': [1, 2, 3, 4, 5],
              'Reputation': [101, 102, 103, 104, 105],
              'View': [1000, 2000, 3000, 4000, 5000],
              'UpVote': [20, 30, 45, 35, 38],
              'DownVote':[2, 6, 8, 18, 13]
}
users_df = pd.DataFrame(data_users)

data_posts = { 'postId': [7, 8, 9, 10, 11],
              'Score': [67, 75, 86, 94,34],
              'userId': [1, 2, 3, 4, 5],
              'ViewCount': [34, 66, 56, 78, 89],
              'CommentCount': [23, 32, 58, 69, 76]
             }
posts_df = pd.DataFrame(data_posts)

 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [65]:
merge_df = users_df.merge(posts_df, how='inner', on="userId")
print(merge_df)

   userId  Reputation  View  UpVote  DownVote  postId  Score  ViewCount  \
0       1         101  1000      20         2       7     67         34
1       2         102  2000      30         6       8     75         66
2       3         103  3000      45         8       9     86         56
3       4         104  4000      35        18      10     94         78
4       5         105  5000      38        13      11     34         89

   CommentCount
0            23
1            32
2            58
3            69
4            76

 8. How many missing values do you have in your merged dataframe? On which columns?

In [68]:
missing_value = merge_df.isnull().sum()
print('column with the mising value and the count:')
print(missing_value[missing_value > 0])

column with the mising value and the count:
Series([], dtype: int64)

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [70]:
## Fill missing values with the mean for numerical columns

merge_df['ViewCount'].fillna(merge_df['ViewCount'].mean(), inplace=True)

 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [80]:
import pandas as pd
posts_df = pd.read_csv('datasets/posts_table.csv')
# removing that column because it is all null
posts_df = posts_df.drop('LastEditorDisplayName', axis=1)
posts_df.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,<bayesian><prior><elicitation>,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,<distributions><normality>,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,<software><open-source>,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,<distributions><statistical-significance>,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,NaN,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN