#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import users table:

In [54]:
users_df = pd.read_csv('datasets/users_table.csv')
users_df.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 3. Rename Id column to userId

In [55]:
users_df.rename(columns={"Id":"userId"},inplace=True)
users_df.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 4. Import posts table:

In [56]:
posts_df = pd.read_csv('datasets/posts_table.csv')
posts_df.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [57]:
posts_df.rename(columns= {"Id":"postId", "OwnerUserId":"userId"},inplace=True)
posts_df.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [58]:
selected_users_df = users_df[['userId','Reputation','Views','UpVotes','DownVotes']]
selected_posts_df = posts_df[['postId','Score','userId','ViewCount','CommentCount']]
display(selected_users_df.head())
display(selected_posts_df.head())

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [73]:
# it was hard for me to understand here if I should merge the new df I created with less columns, or the original ones
# i did the full task merging only the selected columns but found, at the end, that this may not make sense, so I decided to come back and do it all again using the origina dfrozenset
# since I will be merginf dfs on userId, I will first check for NUll values in that column for both df

null_user_userdf = users_df['userId'].isnull().sum()
null_user_postdf = posts_df['userId'].isnull().sum()

print(null_user_postdf)
print(null_user_userdf)

#now merge df on userId

merged_df = pd.merge(left=users_df,
             right=posts_df,
             left_on='userId',
             right_on='userId',
             how='inner')
merged_df.head()

1038
0

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,...,NaN,0,NaN,-1.0,2014-04-23 13:43:43,NaN,NaN,NaN,NaN,NaN
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:40:28,NaN,NaN,NaN,NaN,NaN
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:46:43,NaN,NaN,NaN,NaN,NaN
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaN,NaN,NaN,NaN,NaN
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaN,NaN,NaN,NaN,NaN

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [74]:
missing_values = merged_df.isnull().sum()
missing_values
missing_cond = merged_df.isnull().sum() > 0
total_rows = len(merged_df)

for column, count in missing_values[missing_cond].items():
    percentage = (count / total_rows) * 100
    print(f"There are {count} missing values in the column {column}. This is a {percentage:.2f}% of the total")


merged_df.shape

There are 10 missing values in the column DisplayName. This is a 0.03% of the total
There are 21496 missing values in the column WebsiteUrl. This is a 55.17% of the total
There are 18057 missing values in the column Location. This is a 46.35% of the total
There are 18488 missing values in the column AboutMe. This is a 47.45% of the total
There are 24862 missing values in the column Age. This is a 63.81% of the total
There are 36137 missing values in the column ProfileImageUrl. This is a 92.75% of the total
There are 31813 missing values in the column AcceptedAnswerId. This is a 81.65% of the total
There are 23572 missing values in the column ViewCount. This is a 60.50% of the total
There are 115 missing values in the column Body. This is a 0.30% of the total
There are 23572 missing values in the column Title. This is a 60.50% of the total
There are 23572 missing values in the column Tags. This is a 60.50% of the total
There are 23572 missing values in the column AnswerCount. This is a 60.50% of the total
There are 31906 missing values in the column FavoriteCount. This is a 81.89% of the total
There are 19624 missing values in the column LastEditorUserId. This is a 50.37% of the total
There are 19434 missing values in the column LastEditDate. This is a 49.88% of the total
There are 37136 missing values in the column CommunityOwnedDate. This is a 95.31% of the total
There are 15923 missing values in the column ParentId. This is a 40.87% of the total
There are 38451 missing values in the column ClosedDate. This is a 98.69% of the total
There are 38224 missing values in the column OwnerDisplayName. This is a 98.11% of the total
There are 38753 missing values in the column LastEditorDisplayName. This is a 99.46% of the total

(38962, 34)

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [75]:
# Dropping columns with more than 80% missing values to enhance data integrity and analysis efficiency.
# Columns with such a high proportion of missing data often lack sufficient information for reliable statistical analysis
# and may lead to biased outcomes. Removing these reduces complexity and improves computational efficiency,
# allowing focus on more complete and informative aspects of the dataset.

columns_to_drop = ['FavoriteCount','CommunityOwnedDate', 'ClosedDate', 'OwnerDisplayName','LastEditorDisplayName','AcceptedAnswerId','ProfileImageUrl']
merged_df.drop(columns=columns_to_drop, inplace=True)

# Imputing missing values for 'Age' with the median to maintain data integrity without being skewed by outliers.
# The median is less sensitive to extreme values than the mean, making it more suitable for data with potential outliers.
# This approach allows for the retention of valuable data rows, improving the robustness of statistical analyses
# and ensuring that the dataset remains representative of the broader population.

merged_df['Age'] = merged_df['Age'].fillna(merged_df['Age'].median())

# further reviewing: Dropping columns with 60.50% missing values (ViewCount, Title, Tags, AnswerCount) due to:
# 1. Impact on Analysis: These columns don't seem critical (although I don't have the analysis criteria defined), and using them would require making many assumptions due to the high percentage of missing data.
# 2. Data Quality and Integrity: The large amount of missing data suggests potential issues with data collection and could compromise the reliability and integrity of our analysis outcomes.
# 3. Imputation Feasibility: Imputing such a significant portion of the data could lead to inaccuracies, as more than half of the data in these columns would be fabricated based on potentially unreliable imputation methods.
# 4. Simplification: Removing these columns simplifies data processing and focuses analysis on more complete and informative parts of the dataset, enhancing overall data quality and analysis effectiveness.
# 5. Inappropriate to Fill with Zeros: Assigning a value of zero to missing data is not appropriate as there are, for example, posts with comments but no view count, implying that these posts have indeed been viewed.

merged_df.drop(columns=['ViewCount', 'Title', 'Tags', 'AnswerCount'], inplace=True)

# changing some string missing values to Unknown:

columns_to_update = ['DisplayName','WebsiteUrl','Location','AboutMe','Body']

merged_df[columns_to_update] = merged_df[columns_to_update].fillna('Unknown')

In [77]:
# Running this again to check what columns still need require null analysis

missing_values = merged_df.isnull().sum()
missing_values
missing_cond = merged_df.isnull().sum() > 0
total_rows = len(merged_df)

for column, count in missing_values[missing_cond].items():
    percentage = (count / total_rows) * 100
    print(f"There are {count} missing values in the column {column}. This is a {percentage:.2f}% of the total")

There are 19624 missing values in the column LastEditorUserId. This is a 50.37% of the total
There are 19434 missing values in the column LastEditDate. This is a 49.88% of the total
There are 15923 missing values in the column ParentId. This is a 40.87% of the total

In [82]:
# Assumption: -1 represents missing or null values
# Explanation: In the absence of clear documentation, and for the purpose of this task, I decided to assume that -1 indicates missing data.
# I apply this assumption to the LastEditorUserId and ParentId columns.
# By standardizing the treatment of null entries, we simplify subsequent analyses.

merged_df['LastEditorUserId'].fillna(-1, inplace=True)
merged_df['ParentId'].fillna(-1, inplace=True)

merged_df.to_csv('merged_df.csv',index=False)

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [85]:
merged_df.dtypes

userId                int64
Reputation            int64
CreationDate         object
DisplayName          object
LastAccessDate       object
WebsiteUrl           object
Location             object
AboutMe              object
Views                 int64
UpVotes               int64
DownVotes             int64
AccountId             int64
Age                 float64
postId                int64
PostTypeId            int64
CreaionDate          object
Score                 int64
Body                 object
LasActivityDate      object
CommentCount          int64
LastEditorUserId    float64
LastEditDate         object
ParentId            float64
dtype: object

In [87]:
# Converting date columns to datetime dtype, and age to int type
merged_df['CreationDate'] = pd.to_datetime(merged_df['CreationDate'])
merged_df['LastAccessDate'] = pd.to_datetime(merged_df['LastAccessDate'])
merged_df['CreaionDate'] = pd.to_datetime(merged_df['CreaionDate'])
merged_df['LasActivityDate'] = pd.to_datetime(merged_df['LasActivityDate'])
merged_df['LastEditDate'] = pd.to_datetime(merged_df['LastEditDate'])

# Converting Age, LastEditorUserId, and ParentId  to Int
merged_df[['Age','LastEditorUserId','ParentId']] = merged_df[['Age','LastEditorUserId','ParentId']].astype('int64')  


merged_df.dtypes

userId                       int64
Reputation                   int64
CreationDate        datetime64[ns]
DisplayName                 object
LastAccessDate      datetime64[ns]
WebsiteUrl                  object
Location                    object
AboutMe                     object
Views                        int64
UpVotes                      int64
DownVotes                    int64
AccountId                    int64
Age                          int64
postId                       int64
PostTypeId                   int64
CreaionDate         datetime64[ns]
Score                        int64
Body                        object
LasActivityDate     datetime64[ns]
CommentCount                 int64
LastEditorUserId             int64
LastEditDate        datetime64[ns]
ParentId                     int64
dtype: object