#### 1. Import pandas library

In [39]:
import pandas as pd

#### 2. Import users table:

In [40]:
users = pd.read_csv(".\\datasets\\users_table.csv") #READ

#### 3. Rename Id column to userId

In [41]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

In [42]:
# rename Id to userId:

users.rename(columns={'Id': 'userId'}, inplace=True)
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 4. Import posts table:

In [43]:
posts = pd.read_csv(".\\datasets\\posts_table.csv")

#### 5. Rename Id column to postId and OwnerUserId to userId

In [44]:
posts.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId' }, inplace=True) #rename 2 columns
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [45]:
users_simpl = users[['userId', 'Reputation','Views','UpVotes','DownVotes']]
users_simpl

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [46]:
posts_simpl = posts[['postId', 'Score','userId','ViewCount','CommentCount']]
posts_simpl

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
39995   48321      0  19966.0        NaN             0
39996   48322      3    892.0        NaN             2
39997   48323      1   2020.0        NaN             0
39998   48324      3  19914.0        NaN             0
39999   48325     -1  19968.0      116.0             4

[40000 rows x 5 columns]

In [47]:
#There are more than 1 row for userId=-1 in posts_simpl dataframe:
posts_simpl[posts_simpl['userId']==-1]

       postId  Score  userId  ViewCount  CommentCount
2040     2175      0    -1.0        NaN             0
7898     8576      0    -1.0        NaN             0
7900     8578      0    -1.0        NaN             0
8259     8981      0    -1.0        NaN             0
8260     8982      0    -1.0        NaN             0
...       ...    ...     ...        ...           ...
38703   46731      0    -1.0        NaN             0
38749   46786      0    -1.0        NaN             0
39367   47547      0    -1.0        NaN             0
39593   47833      0    -1.0        NaN             0
39607   47850      0    -1.0        NaN             0

[123 rows x 5 columns]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [48]:
#If I would like to do it in just one step:

users_posts_simpl = pd.merge(left = users_simpl,
                     right = posts_simpl,
                     left_on = 'userId',
                     right_on = 'userId',
                     how='inner'
                     )  
users_posts_simpl

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5
38961,55226,119,2,3,0,16176,1,NaN,0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [49]:
users_posts_simpl.isnull() # si tiene NaN value, entonces sera TRUE, si no FALSE

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
38957,False,False,False,False,False,False,False,False,False
38958,False,False,False,False,False,False,False,False,False
38959,False,False,False,False,False,False,False,False,False
38960,False,False,False,False,False,False,False,False,False
38961,False,False,False,False,False,False,False,True,False

In [50]:
users_posts_simpl.isnull().sum() # revuelve la suma de los TRUE de donde había NaN values algunas (no todas porque tiene muchas) de las columnas

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

In [ ]:
# We have 23572 values missing on ViewCount column

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [51]:
users_posts_simpl[3000:3100]
# I think in this case we can substituto NaN values for 0 or 0.0 as is a integer column.

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
3000,253,5309,1147,1160,5,41189,28,NaN,0
3001,253,5309,1147,1160,5,41419,6,265.0,0
3002,253,5309,1147,1160,5,41440,0,NaN,0
3003,253,5309,1147,1160,5,41851,10,178.0,4
3004,253,5309,1147,1160,5,46847,5,225.0,3
...,...,...,...,...,...,...,...,...,...
3095,264,4701,839,1408,55,21765,4,NaN,1
3096,264,4701,839,1408,55,22142,1,NaN,0
3097,264,4701,839,1408,55,22504,12,788.0,0
3098,264,4701,839,1408,55,23148,1,NaN,5
3099,264,4701,839,1408,55,23149,4,NaN,2

In [52]:
import numpy as np
#replace nan for 0s in ViewCount column:
users_posts_simpl.replace({'ViewCount': np.nan}, 0, inplace=True)

In [53]:
users_posts_simpl.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0.0,0
1,-1,1,0,5007,1920,8576,0,0.0,0
2,-1,1,0,5007,1920,8578,0,0.0,0
3,-1,1,0,5007,1920,8981,0,0.0,0
4,-1,1,0,5007,1920,8982,0,0.0,0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [57]:
users_posts_simpl['ViewCount']
#Name: ViewCount, Length: 38962, dtype: float64
#ViewCount colums is float64 type so no issues anymore.

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
          ...
38957     115.0
38958     326.0
38959     166.0
38960    3357.0
38961       0.0
Name: ViewCount, Length: 38962, dtype: float64